/* App.css - Minimal reset */

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: var(--primary-font), sans-serif;
}

main {
  width: 100%;
}
